# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=env_db
DB_USER=pi
DB_PASSWORD=change_me

# MQTT
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=lab/env/#
MQTT_CLIENT_ID=rpi-env-subscriber
